extends ../layout.pug
block content
  +navigation
  .container.mt-5.text-left
          
    .row
      .col
        h1 Edit story
        form.mb-3.form-signin(method='POST', action='/admin/stories/update/'+story._id+'?_method=PUT')
          
          .mb-3
            label.sr-only(for='inputName') Name
            input#inputName.form-control(name='name', type='text', placeholder='Name', value=story.name required='', autofocus='')
            
          .mb-3
            label.sr-only(for='inputContent') Content
            textarea#inputContent.form-control(rows='20' name='content', type='password', placeholder='Content', required='')=story.content
          .mb-3
            label.sr-only(for='inputContent') Order
            input#inputOrder.form-control(name='order', type='number', placeholder='Order', value=story.order, required='', autofocus='')
            
            each category in categories
              .custom-control.custom-checkbox
                input.custom-control-input(name="categories" type='checkbox' id=category.name value=category._id  checked=(category.selected))
                label.custom-control-label(for=category.name)=category.name

          button.btn.btn-lg.btn-primary.btn-block(type='submit') Update

        //-to deploy this app I needed a helper. In .env ive set "https://tmy.menkent.uberspace.de/ultrablog/" and pass this in index.js:14 as a template helper per res.locals.domain to use here absolute paths
        a.btn.btn-outline-primary(href="/admin/stories")="Back"
