extends layout.pug
block content
  +navigation
  .container.mt-5.text-left
          
    .row
      .col-md-6.offset-md-3
        h1 Edit post
        form.mb-3.form-signin(method='POST', action=domain+'posts/update/'+post._id+'?_method=PUT')
          
          .mb-3
            label.sr-only(for='inputName') Name
            input#inputName.form-control(name='name', type='text', placeholder='Name', value=post.name required='', autofocus='')
            
          .mb-3
            label.sr-only(for='inputContent') Content
            textarea#inputContent.form-control(name='content', type='password', placeholder='Content', required='')=post.content
          .mb-3
            label.sr-only(for='inputContent') Order
            input#inputOrder.form-control(name='order', type='number', placeholder='Order', value=post.order, required='', autofocus='')
            
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Update

        a.btn.btn-outline-primary(href=domain+"posts")="Back"
