mixin postlist(public)
  ul.list-group
    each post in posts
      li.list-group-item.mb-3
        h2.mr-3=post.name
        p.mr-3=post.content
        div.mr-3=post.order
        .mb-3
          each category in post.categories
            span.badge.badge-primary.mr-2= category.name


        //-to deploy this app I needed a helper. In .env ive set "https://tmy.menkent.uberspace.de/ultrablog/" and pass this in index.js:14 as a template helper per res.locals.domain to use here absolute paths
        form.d-flex.justify-content-between(method='POST', action=domain+'/admin/posts/delete/'+post._id +'?_method=DELETE')
          a.btn.btn-outline-primary.mr-2(href=domain+"/posts/"+post._id) Show

          if !public
            .d-flex.align-items-center
              //-to deploy this app I needed a helper. In .env ive set "https://tmy.menkent.uberspace.de/ultrablog/" and pass this in index.js:14 as a template helper per res.locals.domain to use here absolute paths
              a.btn.btn-outline-primary.mr-2(href=domain+"/admin/posts/edit/"+post._id) Edit
              button.btn.btn-outline-danger(type='submit') delete
